<p id="notice"><%= notice %></p>

<p>
  <b>Param1:</b>
  <%= @test.param1 %>
</p>

<p>
  <b>Param2:</b>
  <%= @test.param2 %>
</p>

<p>
  <b>Param3:</b>
  <%= @test.param3 %>
</p>


<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
